# Módulo 07 - Tarefa 02

#### 1) Carregue a base e garanta que a base está como deveria.

Considere a base que você ajustou na lição passada. Carregue-a. Caso ainda haja alguma pendência, ajuste - lembre-se de que o scikitlearn não recebe variáveis em formato string, somente numéricas, e não aceita '*missings*'. 

- Separe 70% da base para treinamento e 30% para validação. Cada uma dessas partes terá dois objetos, um armazenando a variável resposta ```mau```e outro armazenando as variáveis explicativas (lembrando: sem variáveis string, já com as dummies).

In [33]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.tree import plot_tree, DecisionTreeClassifier


from sklearn.model_selection import train_test_split, cross_val_predict

%matplotlib inline

In [35]:

df = pd.read_csv('demo01_tratado.csv', sep=',')
df = df.drop(['Unnamed: 0'], axis=1)
df.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,0,1,1,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,0
1,1,0,1,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,0
2,1,0,1,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,0
3,0,1,1,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0,0
4,1,1,0,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8064 entries, 0 to 8063
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   8064 non-null   int64
 1   posse_de_veiculo       8064 non-null   int64
 2   posse_de_imovel        8064 non-null   int64
 3   qtd_filhos             8064 non-null   int64
 4   tipo_renda             8064 non-null   object
 5   educacao               8064 non-null   object
 6   estado_civil           8064 non-null   object
 7   tipo_residencia        8064 non-null   object
 8   idade                  8064 non-null   float64
 9   tempo_emprego          8063 non-null   float64
 10  possui_celular         8063 non-null   float64
 11  possui_fone_comercial  8063 non-null   float64
 12  possui_fone            8063 non-null   float64
 13  possui_email           8063 non-null   float64
 14  qt_pessoas_residencia  8063 non-null   float64
 15  mau                    8063 non-null   float64
dtypes: float64(8), int64(4), object(4)
memory usage: 1008.1+ KB

In [8]:
df.isnull().sum()

sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            1
possui_celular           1
possui_fone_comercial    1
possui_fone              1
possui_email             1
qt_pessoas_residencia    1
mau                      1
dtype: int64

In [9]:
# variável resposta
y = df.mau
y

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
8059    0.0
8060    0.0
8061    0.0
8062    0.0
8063    NaN
Name: mau, Length: 8064, dtype: float64

In [36]:
# variáveis explicativas
X = df.drop('mau', axis=1)
X

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia
0,0,1,1,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0
1,1,0,1,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0
2,1,0,1,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0
3,0,1,1,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0
4,1,1,0,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16645,1,0,1,0,Working,Secondary / secondary special,Civil marriage,House / apartment,54.109589,9.884932,1,0,0,0,2.0
16646,1,0,1,0,Commercial associate,Secondary / secondary special,Married,House / apartment,43.389041,7.380822,1,1,1,0,2.0
16647,0,1,1,0,Working,Secondary / secondary special,Married,House / apartment,30.005479,9.800000,1,1,0,0,2.0
16648,0,1,1,0,Working,Secondary / secondary special,Married,House / apartment,30.005479,9.800000,1,1,0,0,2.0
16649,1,0,1,0,Pensioner,Higher education,Married,House / apartment,33.936986,3.630137,1,0,1,1,2.0

In [11]:
# separando a base em 70% treino e 30% teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=100)

#### 2) Vamos para o modelo:

1. Defina um objeto com a função da árvore de decisão vista em aula.
2. Treine o modelo com os dados que você separou para treinamento.
3. Visualize a árvore. Talvez você queira aumentar um pouco a figura.
4. Produza uma visualização da matriz de classificação (ou matriz de confusão) - coloque os rótulos como "aprovados" e "reprovados" - pois afinal de contas, são essas as decisões que se podem tomar com propostas de crédito.
5. Calcule a acurácia na base de treinamento

In [37]:
clf = DecisionTreeClassifier(random_state=100)

In [1]:

clf = clf.fit(X_train, y_train)

NameError: name 'clf' is not defined

In [ ]:
plt.figure(figsize=[25, 25])
plot_tree(clf,
          filled=True,
          rounded=True,
          class_names=['Aprovados', 'Reprovados'],
          feature_names=X_train.columns)

NameError: name 'X_train' is not defined

In [ ]:
# matriz de confusão Treino
plot_confusion_matrix(clf, X_train, y_train, display_labels=['Aprovados', 'Reprovados'])

NameError: name 'plot_confusion_matrix' is not defined

In [ ]:
accuracy_score(y_train, y_chapeu_train_predict)

NameError: name 'y_train' is not defined

#### 3) Vamos avaliar o modelo na base de testes

1. Classifique a base de teste de acordo com a árvore que você treinou no item 2.
2. Produza a visualização da matriz de confusão para a base de teste.
3. Calcule a acurácia da base de teste. Compare com a acurácia da base de treinamento.
4. Treine uma nova árvore com número mínimo de observações por folha de 5 e máximo de profundidade de 10. Use o random_state = 123. Avalie a matriz de classificação. Observe a distribuição da predição - qual a proporção de proponentes foram classificados como 'maus'?
5. Como ficaria a acurácia se você classificasse todos os contratos como 'bons'?

In [ ]:
y_chapeu_test_predict = clf.predict(X_test)
y_chapeu_test_predict

NameError: name 'X_test' is not defined

In [ ]:

plot_confusion_matrix(clf, X_test, y_test, display_labels=['Aprovados', 'Reprovados'])

NameError: name 'plot_confusion_matrix' is not defined